<nav class="nav-admin">
  <div class="nav-admin__logo">
    <img
      src="/static/images/logo-no-background.png"
      class="nav-admin__logo-img"
      alt=""
    />
  </div>
  <div class="nav-admin__links">
    <ul class="nav-admin__list">
      <li class="nav-admin__item" id="nav-dashboard">
        <a class="nav-admin__link" href="/admin"
          ><i class="fas fa-tachometer-alt"></i> Dashboard</a
        >
      </li>
      <li class="nav-admin__item" id="nav-products">
        <a class="nav-admin__link" href="/admin/products"
          ><i class="fas fa-boxes"></i> Products</a
        >
      </li>
      <li class="nav-admin__item" id="nav-product-details">
        <a class="nav-admin__link" href="/admin/product_details"
          ><i class="fas fa-boxes"></i> Details</a
        >
      </li>
      <li class="nav-admin__item" id="nav-categories">
        <a class="nav-admin__link" href="/admin/categories"
          ><i class="fas fa-boxes"></i> Categories</a
        >
      </li>
      <li class="nav-admin__item" id="nav-types">
        <a class="nav-admin__link" href="/admin/types"
          ><i class="fas fa-boxes"></i> Types</a
        >
      </li>
      <li class="nav-admin__item" id="nav-sizes">
        <a class="nav-admin__link" href="/admin/sizes"
          ><i class="fas fa-boxes"></i> Sizes</a
        >
      </li>
      <li class="nav-admin__item" id="nav-users">
        <a class="nav-admin__link" href="/admin/users"
          ><i class="fas fa-users"></i> Users</a
        >
      </li>
    </ul>
  </div>
</nav>
