<%- include('partial/principal/header') %>

  <body class="home-page">
    <div id="loader">
      <img src="/static/images/loadgif.gif" alt="Loading...">
    </div>
    <section class="desktop">
      <section class="home-slider owl-carousel js-fulheight">
        <a class="slider-item js-fullheight lazy-load" href="/letter?searchWord=&category=1">
          <img src="/static/images/dream.jpg" alt="test1">
        </a>
        <a class="slider-item js-fullheight" loading="lazy" href="/letter?searchWord=&category=7">
          <img src="/static/images/cakes.jpg" alt="test2">
        </a>
        <a class="slider-item js-fullheight" loading="lazy" href="/letter?searchWord=&category=4">
          <img src="/static/images/desserts2.png" alt="test3">
        </a>
      </section>
    </section>
    <section class="mobile">
      <section class="home-slider owl-carousel js-fullheight"> 
        <a class="slider-item js-fullheight lazy-load" href="/letter?searchWord=&category=1">
          <img src="/static/images/imgm1.jpg" alt="mobile-test1">
        </a>
        <a class="slider-item js-fullheight" loading="lazy" href="/letter?searchWord=&category=7">
          <img src="/static/images/imgm2.jpg" alt="mobile-test2">
        </a>
        <a class="slider-item js-fullheight" loading="lazy" href="/letter?searchWord=&category=4">
          <img src="/static/images/imgm3.jpg" alt="mobile-test3">
        </a>
      </section>
    </section>
    

    <!-- menu section starts -->
    <section class="section-content heading-section">
      <h2 class="subheading">Most asked cakes!</h2>
      <p>Loved by our clients, find them on its different sizes and flavours!</p>
      <div class="items-container">
        <div class="item">
          <img src="https://storage.googleapis.com/mayas-pastries.appspot.com/image-1721681211573.jpeg" alt="Torta de Futbol">
          <div class="item-info">
          <h3>Football Cake </h3>
          <a href="/detail/59" class="view-options">See options</a>
          </div>
        </div>
        <div class="item">
          <img src="https://storage.googleapis.com/mayas-pastries.appspot.com/image-1721681240210.jpeg" alt="Torta de Frozen">
          <div class="item-info">
          <h3>Frozen Cake </h3>
          <a href="/detail/60" class="view-options">See options</a>
          </div>
        </div>
        <div class="item">
          <img src="https://storage.googleapis.com/mayas-pastries.appspot.com/image-1720125238864.jpeg" alt="Torta de funko">
          <div class="item-info">
          <h3>Funko Cake </h3>
          <a href="/detail/61" class="view-options">See options</a>
          </div>
        </div>
        <div class="item">
          <img src="https://storage.googleapis.com/mayas-pastries.appspot.com/image-1721681285370.jpeg" alt="Torta de Nacimiento">
          <div class="item-info">
          <h3>Football Cake </h3>
          <a href="/detail/62" class="view-options">See options</a>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section" id="menu">
      <div class="container-fluid px-4">
        <div class="row justify-content-center mb-5 pb-2 pt-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Best sellers</span>
            <!--<h2 class="mb-4">Our Products</h2>-->
          </div>
        </div>
        <div class="container-card-index">
          <div class="card__container">
            <div class="item--large">
              <img src="static/images/cowboy.png" alt="Cowboy Cake">
              <div class="item-info">
                <h3>Cowboy Cake</h3>
                <a href="/detail/52" class="view-options">See options</a>
              </div>
            </div>
            <!-- <a class="card__article card__article--large" href="/detail/68" style="background-image: url('static/images/cowboy.png');">
              <div class="card__data">
                <span class="card__description">Maya's Pastries</span>
                <h2 class="card__title">Cowboy cake</h2>
              </div>
            </a> -->
            <div class="card__text">
              <p class="title">Each cake is unique like you!</p>
              <p>That's why at Pasteleria Mayas we personalize your order.</p>
              <p>Are you about to get merried, celebrate a baptism or have a theme party? Tell us how you imagine the celebration of your dreams and we will make the appropriate cake.</p>
            </div>
            <div class="item">
              <img src="static/images/gab.jpg" alt="Baptism Cake">
              <div class="item-info">
                <h3>Baptism Cake</h3>
                <a href="/detail/52" class="view-options">See options</a>
              </div>
            </div>
            <div class="item">
              <img src="static/images/pato.jpg" alt="Duck Cake">
              <div class="item-info">
              <h3>Duckling Baby Shower Cake</h3>
              <a href="/detail/58" class="view-options">See options</a>
              </div>
            </div>
            <div class="item">
              <img src="static/images/prin.jpg" alt="Princess Cake">
              <div class="item-info">
              <h3>Princess Castle Cake</h3>
              <a href="/detail/73" class="view-options">See options</a>
              </div>
            </div>
            <div class="item">
              <img src="static/images/weddingc.jpg" alt="Wedding Cake">
              <div class="item-info">
              <h3>Wedding Cake</h3>
              <a href="/detail/62" class="view-options">See options</a>
              </div>
            </div>
            <div class="item">
              <img src="static/images/elm.jpg" alt="Sesame Street Cake">
              <div class="item-info">
              <h3>Sesame Street Cake</h3>
              <a href="/detail/75" class="view-options">See options</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="text-center">
        <a href="/letter"> See all products <i class="fas fa-arrow-right"></i> </a>
      </div>
    </section>
    <section class="section-content heading-section">
      <h2 class="subheading">Our desserts</h2>
      <p>Loved by our clients, find them on its different sizes and flavours!</p>
      <div class="items-container">
        <div class="item">
          <img src="https://storage.googleapis.com/mayas-pastries.appspot.com/image-1721168708019.jpeg" alt="Torta de Futbol">
          <div class="item-info">
          <h3>Crema volteada </h3>
          <a href="/detail/16" class="view-options">See options</a>
          </div>
        </div>
        <div class="item">
          <img src="https://storage.googleapis.com/mayas-pastries.appspot.com/image-1720120712355.jpeg" alt="Torta de Frozen">
          <div class="item-info">
          <h3>Alfajores </h3>
          <a href="/detail/17" class="view-options">See options</a>
          </div>
        </div>
        <div class="item">
          <img src="https://storage.googleapis.com/mayas-pastries.appspot.com/image-1721171866096.jpeg" alt="Torta de funko">
          <div class="item-info">
          <h3>Milhojas </h3>
          <a href="/detail/15" class="view-options">See options</a>
          </div>
        </div>
        <div class="item">
          <img src="https://storage.googleapis.com/mayas-pastries.appspot.com/image-1721171409728.jpeg" alt="Torta de Nacimiento">
          <div class="item-info">
          <h3>Pionono </h3>
          <a href="/detail/13" class="view-options">See options</a>
          </div>
        </div>
      </div>
    </section>

    <div class="element-container">
      <div class="title-element">Why choose us?</div>
      <div class="box-elements">
        <div class="elements">
          <div class="icono-elements">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cake2"
              viewBox="0 0 16 16">
              <path
                d="m3.494.013-.595.79A.747.747 0 0 0 3 1.814v2.683c-.149.034-.293.07-.432.107-.702.187-1.305.418-1.745.696C.408 5.56 0 5.954 0 6.5v7c0 .546.408.94.823 1.201.44.278 1.043.51 1.745.696C3.978 15.773 5.898 16 8 16c2.102 0 4.022-.227 5.432-.603.701-.187 1.305-.418 1.745-.696.415-.261.823-.655.823-1.201v-7c0-.546-.408-.94-.823-1.201-.44-.278-1.043-.51-1.745-.696A12.418 12.418 0 0 0 13 4.496v-2.69a.747.747 0 0 0 .092-1.004l-.598-.79-.595.792A.747.747 0 0 0 12 1.813V4.3a22.03 22.03 0 0 0-2-.23V1.806a.747.747 0 0 0 .092-1.004l-.598-.79-.595.792A.747.747 0 0 0 9 1.813v2.204a28.708 28.708 0 0 0-2 0V1.806A.747.747 0 0 0 7.092.802l-.598-.79-.595.792A.747.747 0 0 0 6 1.813V4.07c-.71.05-1.383.129-2 .23V1.806A.747.747 0 0 0 4.092.802l-.598-.79Zm-.668 5.556L3 5.524v.967c.311.074.646.141 1 .201V5.315a21.05 21.05 0 0 1 2-.242v1.855c.325.024.659.042 1 .054V5.018a27.685 27.685 0 0 1 2 0v1.964c.341-.012.675-.03 1-.054V5.073c.72.054 1.393.137 2 .242v1.377c.354-.06.689-.127 1-.201v-.967l.175.045c.655.175 1.15.374 1.469.575.344.217.356.35.356.356 0 .006-.012.139-.356.356-.319.2-.814.4-1.47.575C11.87 7.78 10.041 8 8 8c-2.04 0-3.87-.221-5.174-.569-.656-.175-1.151-.374-1.47-.575C1.012 6.639 1 6.506 1 6.5c0-.006.012-.139.356-.356.319-.2.814-.4 1.47-.575ZM15 7.806v1.027l-.68.907a.938.938 0 0 1-1.17.276 1.938 1.938 0 0 0-2.236.363l-.348.348a1 1 0 0 1-1.307.092l-.06-.044a2 2 0 0 0-2.399 0l-.06.044a1 1 0 0 1-1.306-.092l-.35-.35a1.935 1.935 0 0 0-2.233-.362.935.935 0 0 1-1.168-.277L1 8.82V7.806c.42.232.956.428 1.568.591C3.978 8.773 5.898 9 8 9c2.102 0 4.022-.227 5.432-.603.612-.163 1.149-.36 1.568-.591Zm0 2.679V13.5c0 .006-.012.139-.356.355-.319.202-.814.401-1.47.576C11.87 14.78 10.041 15 8 15c-2.04 0-3.87-.221-5.174-.569-.656-.175-1.151-.374-1.47-.575-.344-.217-.356-.35-.356-.356v-3.02a1.935 1.935 0 0 0 2.298.43.935.935 0 0 1 1.08.175l.348.349a2 2 0 0 0 2.615.185l.059-.044a1 1 0 0 1 1.2 0l.06.044a2 2 0 0 0 2.613-.185l.348-.348a.938.938 0 0 1 1.082-.175c.781.39 1.718.208 2.297-.426Z" />
            </svg>
          </div>
          <div class="subtitulo-elements">
            Make yourself at home with Maya's recipes.
          </div>
          <div class="parrafo-elements">
            We use selected ingredients and carefully preserve our recipes to
            maintain the same quality and taste of home as always, offering a fresh
            product without preservatives.
          </div>
        </div>
        <div class="elements">
          <div class="icono-elements">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cake2"
              viewBox="0 0 16 16">
              <path
                d="m3.494.013-.595.79A.747.747 0 0 0 3 1.814v2.683c-.149.034-.293.07-.432.107-.702.187-1.305.418-1.745.696C.408 5.56 0 5.954 0 6.5v7c0 .546.408.94.823 1.201.44.278 1.043.51 1.745.696C3.978 15.773 5.898 16 8 16c2.102 0 4.022-.227 5.432-.603.701-.187 1.305-.418 1.745-.696.415-.261.823-.655.823-1.201v-7c0-.546-.408-.94-.823-1.201-.44-.278-1.043-.51-1.745-.696A12.418 12.418 0 0 0 13 4.496v-2.69a.747.747 0 0 0 .092-1.004l-.598-.79-.595.792A.747.747 0 0 0 12 1.813V4.3a22.03 22.03 0 0 0-2-.23V1.806a.747.747 0 0 0 .092-1.004l-.598-.79-.595.792A.747.747 0 0 0 9 1.813v2.204a28.708 28.708 0 0 0-2 0V1.806A.747.747 0 0 0 7.092.802l-.598-.79-.595.792A.747.747 0 0 0 6 1.813V4.07c-.71.05-1.383.129-2 .23V1.806A.747.747 0 0 0 4.092.802l-.598-.79Zm-.668 5.556L3 5.524v.967c.311.074.646.141 1 .201V5.315a21.05 21.05 0 0 1 2-.242v1.855c.325.024.659.042 1 .054V5.018a27.685 27.685 0 0 1 2 0v1.964c.341-.012.675-.03 1-.054V5.073c.72.054 1.393.137 2 .242v1.377c.354-.06.689-.127 1-.201v-.967l.175.045c.655.175 1.15.374 1.469.575.344.217.356.35.356.356 0 .006-.012.139-.356.356-.319.2-.814.4-1.47.575C11.87 7.78 10.041 8 8 8c-2.04 0-3.87-.221-5.174-.569-.656-.175-1.151-.374-1.47-.575C1.012 6.639 1 6.506 1 6.5c0-.006.012-.139.356-.356.319-.2.814-.4 1.47-.575ZM15 7.806v1.027l-.68.907a.938.938 0 0 1-1.17.276 1.938 1.938 0 0 0-2.236.363l-.348.348a1 1 0 0 1-1.307.092l-.06-.044a2 2 0 0 0-2.399 0l-.06.044a1 1 0 0 1-1.306-.092l-.35-.35a1.935 1.935 0 0 0-2.233-.362.935.935 0 0 1-1.168-.277L1 8.82V7.806c.42.232.956.428 1.568.591C3.978 8.773 5.898 9 8 9c2.102 0 4.022-.227 5.432-.603.612-.163 1.149-.36 1.568-.591Zm0 2.679V13.5c0 .006-.012.139-.356.355-.319.202-.814.401-1.47.576C11.87 14.78 10.041 15 8 15c-2.04 0-3.87-.221-5.174-.569-.656-.175-1.151-.374-1.47-.575-.344-.217-.356-.35-.356-.356v-3.02a1.935 1.935 0 0 0 2.298.43.935.935 0 0 1 1.08.175l.348.349a2 2 0 0 0 2.615.185l.059-.044a1 1 0 0 1 1.2 0l.06.044a2 2 0 0 0 2.613-.185l.348-.348a.938.938 0 0 1 1.082-.175c.781.39 1.718.208 2.297-.426Z" />
            </svg>
          </div>
          <div class="subtitulo-elements">Maya takes care of you.</div>
          <div class="parrafo-elements">
            We take care of every step of the process, from the kitchen to delivery,
            to ensure our products are as safe as the ones you make at home.
          </div>
        </div>
      </div>
    </div>

    <!-- <section class="testimonial section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <div class="sec-heading text-center">
              <h6 class="title-testimonials">"Testimonials"</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="clients-carousel owl-carousel">
            <div class="single-box">
              <div class="content">
                <p class="limited-text">
                  The alfajores were delicious, excellent presentation, fresh, don't
                  miss them. I'm a very happy customer.
                </p>
                <h4>DIANA CARTER</h4>
              </div>
            </div>
            <div class="single-box">
              <div class="content">
                <p class="limited-text">
                  I order alfajores very tasty delicious, I would be ordering more
                  even for Christmas everybody would love it , and also can meet in
                  a convenience place for both of us , she is a nice and sweet lady
                  , also don’t forget she also makes cakes w fruits , chocolate ,
                  alfajores highly recommended !!!
                </p>
                <h4>MARIA PANICHI</h4>
              </div>
            </div>
            <div class="single-box">
              <div class="content">
                <p class="limited-text">
                  Alfajores were delicious and prepared just right! I had to have
                  one for breakfast! Very tasty! We love them! Taste just like I
                  remembered! Highly recommend Maya’s Pastries! She’s very nice and
                  super sweet and friendly! Use her for all your Peruvian desserts!
                </p>
                <h4>MICHELLE RAWLINS-MISTER</h4>
              </div>
            </div>
            <div class="single-box">
              <div class="content">
                <span class="rating-star"><i class="icofont-star"></i><i class="icofont-star"></i><i
                    class="icofont-star"></i><i class="icofont-star"></i><i class="icofont-star"></i></span>
                <p class="limited-text">
                  Thank you Maya for your prompt response and for your quality
                  products. I recommend this business to anyone looking to have the
                  best desserts at their event!
                </p>
                <h4>FERNANDA MILUSKA</h4>
              </div>
            </div>
            <div class="single-box">
              <div class="content">
                <span class="rating-star"><i class="icofont-star"></i><i class="icofont-star"></i><i
                    class="icofont-star"></i><i class="icofont-star"></i><i class="icofont-star"></i></span>
                <p class="limited-text">
                  I made my first order here and I asked for Alfajores and get some
                  personalized. She was able to make this for me. She offers
                  delivery but I went to pick my order. Very organized and deli 100%
                  recommended
                </p>
                <h4>PATRICIA CUADRA</h4>
              </div>
            </div>
            <div class="single-box">
              <div class="content">
                <span class="rating-star"><i class="icofont-star"></i><i class="icofont-star"></i><i
                    class="icofont-star"></i><i class="icofont-star"></i><i class="icofont-star"></i></span>
                <p class="limited-text">
                  I highly recommend Maya's Pastries! The cake was beautiful and
                  delicious and her customer service was excellent Thanks again for
                  the beautiful graduation cake!
                </p>
                <h4>YEIMI SANK</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
  </body>

  <%- include('partial/principal/footer') %>
    <script>
      window.addEventListener('load', function () {
        var loader = document.getElementById('loader');
        loader.style.display = 'none';
      });
    </script>