<%- include('../../partial/principal/header') %>
<div id="loader">
  <img src="/static/images/loadgif.gif" alt="Loading...">
</div>
<div class="page__faq">
  <h1 class="faq-title">Frequently Asked Questions</h1>

  <h2 class="faq-subtitle">Cakes</h2>
  <dl class="faq__list">
    <dt class="faq-question">What do the costs of the cakes depend on?</dt>
    <dd class="faq-answer">
      Costs depend on the design, size and flavor of the cake.
    </dd>

    <dt class="faq-question">What if I need a cake with a special design?</dt>
    <dd class="faq-answer">
      If you need a cake with a design that is not in our album, send us a photo
      with your special design, and we will be here to help you.
    </dd>

    <dt class="faq-question">
      What is the minimum reservation time for a standard cake?
    </dt>
    <dd class="faq-answer">
      The minimum booking time for these cakes is 5 days.
    </dd>

    <dt class="faq-question">
      What is the minimum reservation time for a special cake?
    </dt>
    <dd class="faq-answer">
      The minimum booking time for a special cake is 3 weeks
    </dd>

    <dt class="faq-question">What is the requirement to make a reservation?</dt>
    <dd class="faq-answer">
      To make any reservation, you must make a deposit of at least 50%.
    </dd>

    <dt class="faq-question">What are the accepted forms of payment?</dt>
    <dd class="faq-answer">
      The accepted forms of payment are Zelle and Cash App.
    </dd>

    <dt class="faq-question">Do you offer delivery service?</dt>
    <dd class="faq-answer">
      Yes, we have delivery service, the cost of which will depend on the
      distance.
    </dd>

    <dt class="faq-question">Where are you located?</dt>
    <dd class="faq-answer">
      We are located in Old Middleburg RD, approximately 5 minutes from Wilson
      Blvd.
    </dd>
  </dl>

  <h2 class="faq-subtitle">Snacks</h2>
  <dl class="faq__list">
    <dt class="faq-question">What is the minimum time to reserve snacks?</dt>
    <dd class="faq-answer">The minimum time to reserve snacks is 1 week.</dd>

    <dt class="faq-question">
      What is the difference between simple and premium snacks?
    </dt>
    <dd class="faq-answer">
      Simple sandwiches differ from premium sandwiches in the presentation
      and/or accompaniment of the product.
    </dd>

    <dt class="faq-question">What are premium empanadas accompanied with?</dt>
    <dd class="faq-answer">
      Premium Empanadas are served with Peruvian style green lemon
    </dd>

    <dt class="faq-question">
      What are the premium hot dog rolls served with?
    </dt>
    <dd class="faq-answer">
      Premium HOT DOG ENRROLLADITOS are served with golf sauce.
    </dd>

    <dt class="faq-question">
      What are the premium stuffed potato chips served with?
    </dt>
    <dd class="faq-answer">
      Premium PAPITAS RELLENAS are served with Mayas Pastries yellow sauce.
    </dd>

    <dt class="faq-question">What are the premium tequeños served with?</dt>
    <dd class="faq-answer">Premium TEQUEÑOS are served with guacamole.</dd>

    <dt class="faq-question">How do the Premium TRIPLES remain stable?</dt>
    <dd class="faq-answer">
      Premium TRIPLES have bamboo sticks to keep the sandwich stable.
    </dd>
  </dl>
</div>
<%- include('../../partial/principal/footer') %>
<script>
  window.addEventListener('load', function() {
    var loader = document.getElementById('loader');
    loader.style.display = 'none';
  });
</script>
