<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>mayaspastries</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/principal.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/animate.css" />
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css" />

  <link rel="stylesheet" href="/static/css/aos.css" />

  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

  <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css" />

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">

  <link rel="stylesheet" href="/static/css/jquery.timepicker.css" />

  <link rel="stylesheet" href="/static/css/flaticon.css" />
  <link rel="stylesheet" href="/static/css/icomoon.css" />
  <link rel="stylesheet" href="/static/css/menu.css" />

  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="icon" href="/static/images/title.png" />
  <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/css/testimonial.css" />

  <link rel="stylesheet" href="/static/css/products.css" />
  <link rel="stylesheet" href="/static/css/wstp.css" />

  <link rel="stylesheet" href="/static/css/article.css" />
  <link rel="stylesheet" href="/static/css/test.css" />
  <link rel="stylesheet" href="/static/css/detail.css" />

  <link rel="stylesheet" href="/css/principal.css" />
</head>

<body>
  <header>
    <nav class="nav-section" id="nav-container">

      <section class="contenedor-nav nav">
        <div class="logo-text-container">
          <div>
            <a href="mailto:mayaspastries1@gmail.com">
              <i class="fa-regular fa-envelope" style="color:#fff"></i>
            </a>
            <a href="https://www.facebook.com/mayaspastries/" target="_blank">
              <i class="fa-brands fa-facebook" style="color:#fff"></i>
            </a>
          </div>
          <h1 class="logo-text">Maya's Pastries</h1>
          <div>
            <a href="https://www.instagram.com/mayaspastries1/" target="_blank">
              <i class="fa-brands fa-instagram" style="color:#fff"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=19045346422&text=Hello!%20I%20would%20like%20to%20make%20an%20order"
              target="_blank">
              <i class="fa-regular fa-phone" style="color:#fff"></i>
            </a>
          </div>
        </div>
        <div class="enlaces-header">
          <a href="/">HOME</a>
          <a href="/about">ABOUT</a>
          <a href="/letter">CAKES</a>
          <a href="/faq">FAQ</a>
          <a href="/letter?searchWord=&category=4">MAYA'S DESSERTS</a>
        </div>
        <div id="menu-btn">
          <i class="fas fa-bars"></i>
        </div>
        <div id="btn-wsp">
          <a href="https://api.whatsapp.com/send?phone=19045346422&text=Hello!%20I%20would%20like%20to%20make%20an%20order"
            target="_blank">
            <i class="fa-regular fa-phone" style="color:#fff"></i>
          </a>
        </div>
        <div id="btn-heart">
          <a href="/">
            <i class="fa-regular fa-heart" style="color:#fff"></i>
          </a>
        </div>
      </section>
      <ul class="responsive-menu" id="responsive-menu">
        <!-- Lista de enlaces oculta para el menú desplegable -->
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/letter">CAKES</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/letter?searchWord=&category=4">MAYA'S DESSERTS</a></li>

        <li class="social-icons">
          <a href="mailto:mayaspastries1@gmail.com">
            <i class="fa-regular fa-envelope"></i>
          </a>
          <a href="https://www.facebook.com/mayaspastries/" target="_blank">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/mayaspastries1/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://api.whatsapp.com/send?phone=19045346422&text=Hello!%20I%20would%20like%20to%20make%20an%20order"
            target="_blank">
            <i class="fa-regular fa-phone"></i>
          </a>
        </li>
      </ul>
    </nav>
  </header>
</body>

</html>